PORT=3000

FIREBASE_CREDENTIALS_PATH=./configuration-firebase.json

BREVO_API_KEY=
BREVO_SENDER_EMAIL=example@gmail.com
BREVO_SENDER_NAME=App Name
MAIL_SUPPORT=example@gmail.com
MAIL_FROM=App Name <example@gmail.com>