PORT=3000

FIREBASE_CREDENTIALS_PATH=./configuration-firebase.json

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=example@gmail.com
MAIL_PASS=xxxx xxxx xxxx xxxx
MAIL_FROM="TuApp <example@gmail.com>"